@charset "utf-8";

/*
   Base Page of Daisy Mae's Nail Care
   Author: Olivia Merriett
   Date:   11/22/2021
	
   Filename: base.css
*/


/* HTML and Body styles */

html {
   background-image: url("img/bg.jpg");
   background-position: center;
   background-size: cover; 
   font-family: Verdana, Geneva, sans-serif;
}

body {
   background-color: white;
   border-left: 1px solid black;
   border-right: 1px solid black;
   min-height: 100%;
   margin: 0px auto;
   min-width: 320px;
   max-width: 1000px;
   width: 100%;
}


/* Header styles */

header img#logoimg {
   height: 175px;
   width: 1000px;
}

header {
  border-top: 2px solid black;
}



/* Navigation list styles */

header nav ul {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
    line-height: 1.3em;
	list-style-type: none;
	text-align: center;
}

header nav ul li {
   display: inline;
   margin-right: 10px;
   margin-left: 10px;
   padding: 45px 45px;
   font-size: 1.1em;

}

header nav ul li a {
   color: black;
}

header nav ul li a:hover {
   color: rgb(0, 206, 209);
}


/* Article  Styles */

article {
	column-count: 2;
	column-rule: 2px solid black;
	width: 100%;
	height: 100%
}

article h1{
	color: black;
	column-span: all;
	
	font-family: Baskerville, "Palatino Linotype", Palatino, 
	             "Century Schoolbook", "Times New Roman", serif;
	font-size: 2.2em;
	margin-left: 20px;
	margin-bottom: 2px;
	margin-top: 3px;
	text-align: left;	
}
article h2{
	color: black;
	font-size: 1em;
	margin-right: 10px;
	margin-bottom: 2px;
	text-align: right;	
}

article h3{
	color: black;
	column-span: all;
	font-size: 2.2em;
	margin-left: 20px;
	margin-bottom: 2px;
	margin-top: 3px;
	text-align: center;	
}
article p {
	margin-left: 20px;
	text-align: left;
	
}



article p#locations{
	margin-right: 10px;
	text-align: right;
}

article img#salonimg {
	height: 270px;
	padding: 5px;
	width: 450px;
}

article img#locationimg {
	height: 325px;
	padding: 5px;
	width: 450px;

}

article img#nail1img {

    height: 175px;
	padding: 5px;
	width: 240px;
}

article img#nail2img {
	
    height: 171px;
	padding: 5px;
	width: 240px;
}

article img#nail3img {
    height: 175px;
	margin-top: 10px;
	padding: 5px;
	width: 240px;
}

article img#nail4img {
	height: 175px;
	margin-top: 10px;
	padding: 5px;
	width: 240px;

}


.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

/* Column styles */  
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 375px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}




/* Table styles */

table {
  border: 1px solid black;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 40px;
}


td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 40px;
}


/* Footer styles */   

footer {
   background-color: black;
   line-height: 1em;
   width: 100%;
   text-align: center;
}

footer, footer span a {
   color: white;
   padding: 5px;
}

footer span a:hover {
   color: grey;
}

.fa {
	padding: 2px; 
	font-size: 15px;
	width: 20px;
	height: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	} 
	
.fa:hover {
	opacity: 0.7; } 

.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
	}
